html,
body {
    height: 100vh;
    margin: 0;
}

button {
    box-sizing: border-box; /* height is border + padding + content */
    display: block;
    margin: 5px auto;
    height: 30px;
    background-color: white;
    border: 1px solid lightcoral;
    border-radius: 3px;
    color: lightcoral;
}

.container {
    width: 100%;
    height:calc(100% - 40px);
    /* flex: as parent */
    display: flex;
    flex-direction: column;
}

.row-box {
    /* flex: as child */
    flex: 1;
    /* flex: as parent */
    display: flex;
    flex-direction: row;
}

.one-box {
    border: 1px solid white;
    /* flex: as child */
    flex: 1;
}